*                   @akramhussein
/app                @vektor-finance/frontend
/backend            @vektor-finance/backend
/data               @vektor-finance/data-authority
/ops                @vektor-finance/devops
/vektor-js          @vektor-finance/frontend
